body{
    margin: 0;
}
header{
    background-color: #fe0000;
    height: 95px;
}
nav{
    background-color: #007fff;
    height: 45px;
}
section{
    background-color: #fec6c5;
    height: 400px;
    width: 63vw;
    float: left;
}
aside{
    background-color: #fe80fe;
    height: 400px;
    width: 32vw;
    float: right;
}
footer{
    background-color: #80ff00;
    height: 45px;
    clear: both;
}