body {
  background: #F9F9F9;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
header{
  background-color: white;
  padding: 16px 8px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

/* Header */
.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
}
.search-bar {
  width: 100%;
  padding: 10px 15px;
  padding-left: 35px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #ddd;
}
::placeholder{
  color: #8e8e8e;
}
.search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #ddd;
}

/* MENU */
.menu-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.menu {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}
.menu-item {
  padding: 16px;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
}
.menu-item:hover {
  background-color: #f0f0f0;
}

/*  */
.card{
  margin: 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: white;
  padding: 16px;
}
.welcome-message{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.welcome-message span{
  margin-bottom: 8px;
}
.welcome-message input{
  border: 1px solid rgb(168, 168, 168);
  padding: 8px;
  border-radius: 3px;
}
.welcome-message button{
  background-color: #DA552F;
  border: 1px solid #DA552F;
  border-radius: 3px; 
  color: white;
  padding: 8px;
}


/* LG (large - width > 1200px) */
/* MD (medium - width > 992px) */
/* SM (small - width > 600px) */
@media (width > 600px) {
  .welcome-message{
    flex-direction: column;
  }

}
/* XS (extra-small - width <= 600px) */
@media (width < 600px) {
  .search-bar::placeholder {
      content: "Discover";
  }
  .search-bar{
    border: none;
  }
  
}