html{
    background-color: #E5E6FB;
}

table {
    border: 5px solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 20px;
    padding-top: 8px;
    width: 500px;
    text-align: center;
    background-color: #FEE4C3;
}

caption{
    font-size: 18px;
    font-weight: bold;
}

caption > span{
    background-color: #00BFFF;
}

tbody > tr > td {
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    padding: 4px;
}

tfoot{
    background-color:#00BFFF;
    font-weight: bold;
}


