#years-old-input{
    border-radius: 5px;
}

#years-old-input:out-of-range{
    background-color: rgb(255, 74, 74);
    border: 2px solid rgb(255, 74, 74);
}

#years-old-input:in-range{
    background-color: rgb(149, 227, 149);
    border: 2px solid rgb(149, 227, 149);
}